<!DOCTYPE html>
<html>
<head>
    <title>About 页面管理</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>About 页面管理</h1>
    <form action="/admin/about/save" method="post">
        <label>About 标题：</label>
        <input type="text" name="aboutTitle" value="About" /><br><br>

        <label>About 内容：</label><br>
        <textarea name="aboutContent" rows="5" cols="50">Lorem Ipsum is simply dummy text...</textarea><br><br>

        <label>猫标题：</label>
        <input type="text" name="catTitle" value="Cat Info" /><br><br>

        <label>猫内容：</label><br>
        <textarea name="catContent" rows="5" cols="50">关于猫的信息，管理员可修改。</textarea><br><br>

        <label>团队介绍标题：</label>
        <input type="text" name="teamTitle" value="Our Team" /><br><br>

        <label>团队成员1：</label>
        <input type="text" name="teamMember1" value="MICHAEL FREEMAN" /><br><br>

        <label>团队成员2：</label>
        <input type="text" name="teamMember2" value="ADRIANA SPELLING" /><br><br>

        <button type="submit">保存</button>
    </form>
</body>
</html>
